<h1>About Me</h1>

<h2>Laurence Mabilleau</h2>
<p>EtsyDemo is an online markeplace for buying and salling handmade goods, and contact make a deal with the saller.</p>

<h2>Content</h2>

<p>
	<ul>
	  <li>Get Up and Running,</li>
	  <li>Create Our Website</li>
	  <li>Add From-End Design</li>
	  <li>Update Listing with Images</li>
	  <li>Save Our Progress</li>
	  <li>Host Image Online</li>
	  <li>Add Users</li>
	  <li>Connect User to Listings</li>
	  <li>Place Orders</li>
	  <li>Accept Payments</li>
	  <li>Transfer Payments</li>
	  <li>Transfer Payments</li>
	</ul>
</p>
